.full-page-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

html, body {
  overflow: hidden;
}

.header{
  min-height: 35px;
  background: #000000;
  color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-layout {
  
  height: 100%;
  width: 100%;
  min-width: 100px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 1fr 110px 1fr;
  grid-template-columns: 1fr 110px 1fr;
  overflow: hidden;
  background: rgba(132, 132, 132, 0.476);
}


.item {
background: rgb(237, 237, 237);
display: flex;
align-items: center;
justify-content: center;
color: #AAA;
margin:1px;
}

.footer {
  height: auto;
  background: rgb(0, 0, 0);
  color: rgb(245, 245, 245);
  text-align: center;
  font-size: 13px;
  padding-bottom: 10px;
}

.logo{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 3px;
}

.card{
  will-change: transform;
}